<!DOCTYPE html>
<html>
  <head>
    <title>Administrador de Eventos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'Control-Geocoder' %>
    <%= stylesheet_link_tag 'login' %>
    <%= stylesheet_link_tag 'index' %>
    <%= stylesheet_link_tag 'filter' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/filter' %>
    
    <%= yield %>

  </body>

  <%= javascript_include_tag "leaflet" %>
  <%= javascript_include_tag "Control-Geocoder" %>
  
</html>
